.bubble {
    -fx-shape: "M 15.76,97.00 C 12.32,90.13 8.31,79.75 8.34,72.00 8.38,59.14 17.60,48.20 27.00,40.46 59.65,13.59 111.39,9.40 151.00,20.71 177.79,28.36 198.95,43.64 199.00,74.00 199.00,74.00 199.00,82.00 199.00,82.00 198.92,99.21 188.65,112.72 175.00,122.28 151.66,138.62 127.71,142.04 100.00,142.00 89.93,141.98 76.63,139.96 67.00,136.98 67.00,136.98 56.00,133.10 56.00,133.10 54.37,132.37 51.06,130.33 49.42,130.39 47.54,130.45 41.43,135.35 39.00,136.69 29.40,141.97 16.51,147.06 6.00,142.00 14.43,133.09 24.29,125.09 30.00,114.00 23.55,110.80 18.92,103.31 15.76,97.00 Z";
    -fx-background-color: red;
    -fx-border-color: white;
    -fx-border-width: 2;
}
